
  audio{
    display: fixed;
  }
  .a-nav {
    text-decoration: none;
  }

  .n-links {
    list-style: none;
  }
  /* NAVBAR STYLING STARTS */
  .navbar {
    top: 0;
    position: fixed;
    width: 100%;
  height: 70px;
    display: flex;
    font-family: "Outfit", sans-serif;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color:white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
  }

  .nav-links a {
    color: #000000;
  }

  /* LOGO */
  .logo {
    font-size: 32px;
    color: #000000;
    font-family: 'Rock Salt', cursive;
  }

  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }

  .menu li:hover {
    background-color: #d6d6d6;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
  }

  .menu li {
    padding: 5px 14px;
  }

  /* DROPDOWN MENU */
  .services {
    position: relative;
  }

  .dropdown {
    background-color: rgb(29, 29, 29);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
  }

  .dropdown li + li {
    margin-top: 10px;
  }

  .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
  }

  .dropdown li:hover {
    background-color: #707070;
  }

  .services:hover .dropdown {
    display: block;
  }

  input[type="checkbox"] {
    display: none;
  }

  /* HAMBURGER MENU */
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  @media (max-width: 768px) {
    .menu {
      display: none;
      position: absolute;
      background-color: rgb(255, 255, 255);
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }

    .menu li:hover{
      display: inline-block;
      background-color: rgb(228, 228, 228);
      color: white;
      transition: 0.3s ease;
    }

    .menu li + li {
      margin-top: 12px;
    }

    input[type="checkbox"]:checked ~ .menu {
      display: block;
    }

    .hamburger {
      display: block;
    }

    .dropdown {
      left: 50%;
      top: 30px;
      transform: translateX(35%);
    }

    .dropdown li:hover {
      background-color: #4c9e9e;
    }
  }